<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel='stylesheet' type='text/css' th:href='@{/css/style.css}'>
</head>
<body>
<h2 align="center">La vue Acceuil</h2>
<h1 th:text="${msg}"></h1>
<ul>
<li th:text=${ec}>
nom de votre école
</li>
<li th:text=${forma}>
intitulé de la formation
</li>
</ul>

<ul th:each = "name : ${names}">
<li th:text = "${name}" >

</li>
</ul>

<ul th:each = "animal : ${animals}">
<li>
<h>
<span th:text = "${animal.nom}"></span>
<span th:text = "${animal.age}"></span>
</h>
</li>
</ul>

</body>
</html>