<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Person List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Person List</h1>
      <a href="addPerson">Add Person</a>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th>action</th>
            </tr>
            <tr th:each ="person : ${persons}">
               <td th:text="${person.firstName}">...</td>
               <td th:text="${person.lastName}">...</td>
               <td>
               <a th:href="@{/updatePerson(fn=${person.firstName},ln=${person.lastName})}">update</a>

               <a onclick="return confirm('Êtes vous sûr de vouloir continuer?')" th:href="@{/deletePerson(fn=${person.firstName},ln=${person.lastName})}">delete</a>
               </td>
            </tr>
         </table>
      </div>
   </body>
</html>
            